In [1]:
import  numpy as np
import pandas as pd
import ast
import nltk
import pickle as pk

In [2]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
credits.rename(columns = {'movie_id' : 'id'}, inplace=True)

In [4]:
movies = movies.merge(credits, on='id')

In [5]:
movies = movies[['id','original_title','genres','keywords','overview','production_companies','cast','crew','release_date','runtime','homepage','tagline']]

In [6]:
def conv(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [7]:
movies['genres'] = movies['genres'].apply(conv)

In [8]:
movies['keywords'] = movies['keywords'].apply(conv)

In [9]:
movies['production_companies'] = movies['production_companies'].apply(conv)

In [10]:
def convert(obj):
    L=[]
    c=0
    for i in ast.literal_eval(obj):
        if c!=5:
            L.append(i['name'])
            c+=1
        else:
            break
    return L

In [11]:
movies['cast'] = movies['cast'].apply(convert)

In [12]:
movies['producer'] = movies['crew']

In [13]:
movies.rename(columns = {'crew' : 'director'}, inplace=True)

In [14]:
def dp(obj,job):
    L=[]
    for i in ast.literal_eval(obj):
        if i['job']==job:
            L.append(i['name'])
            break
    return L

In [15]:
movies['director'] = movies['director'].apply(lambda x:dp(x,'Director'))

In [16]:
movies['producer'] = movies['producer'].apply(lambda x:dp(x,'Producer'))

In [17]:
movies["tag"] = movies['overview'].apply(lambda x:str(x).split()) + movies['genres'].apply(lambda x:[i.replace(" ","") for i in x]) + movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x]) + movies['production_companies'].apply(lambda x:[i.replace(" ","") for i in x]) + movies['cast'].apply(lambda x:[i.replace(" ","") for i in x]) + movies['director'].apply(lambda x:[i.replace(" ","") for i in x]) + movies['producer'].apply(lambda x:[i.replace(" ","") for i in x])

In [18]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [19]:
movies['tag'] = movies['tag'].apply(lambda x:[ps.stem(i) for i in x])

In [20]:
movies['tag'] = movies['tag'].apply(lambda x:' '.join(x))

In [21]:
movies['genres'] = movies['genres'].apply(lambda x:', '.join(x))

In [22]:
movies['production_companies'] = movies['production_companies'].apply(lambda x:', '.join(x))

In [23]:
movies['cast'] = movies['cast'].apply(lambda x:', '.join(x))

In [24]:
movies['director'] = movies['director'].apply(lambda x:''.join(x))

In [25]:
movies['producer'] = movies['producer'].apply(lambda x:''.join(x))

In [26]:
del movies['keywords']

In [27]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=2*len(movies), stop_words='english')

In [28]:
vec = cv.fit_transform(movies['tag']).toarray()

In [29]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
sim = cosine_similarity(vec)

In [31]:
def recommend(mov,count):
    a = 6 + count*5
    mov_index = movies[movies['original_title'] == mov].index[0]
    mov_list = sorted(list(enumerate(sim[mov_index])),reverse=True,key=lambda x:x[1])[1:a]
    
    for i in mov_list:
        print(movies['original_title'][i[0]])

In [32]:
recommend("Superman Returns",0)

Superman II
Superman IV: The Quest for Peace
Superman
Superman III
Man of Steel

In [33]:
pk.dump(movies.to_dict(),open('movies_dictionary.pkl','wb'))

In [34]:
pk.dump(sim,open('sim.pkl','wb'))

In [6]:
movies

,id,original_title,genres,keywords,overview,production_companies,cast,crew,release_date,runtime,homepage,tagline
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...","[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",2009-12-10,162.0,http://www.avatarmovie.com/,Enter the World of Pandora.
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",2007-05-19,169.0,http://disney.go.com/disneypictures/pirates/,"At the end of the world, the adventure begins."
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",2015-10-26,148.0,http://www.sonypictures.com/movies/spectre/,A Plan No One Escapes
3,49026,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",2012-07-16,165.0,http://www.thedarkknightrises.com/,The Legend Ends
4,49529,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",2012-03-07,132.0,http://movies.disney.com/john-carter,"Lost in our world, found in another."
...,...,...,...,...,...,...,...,...,...,...,...,...
4798,9367,El Mariachi,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 5616, ""name"": ""united states\u2013mexi...",El Mariachi just wants to play his guitar and ...,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de...",1992-09-04,81.0,NaN,"He didn't come looking for trouble, but troubl..."
4799,72766,Newlyweds,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",[],A newlywed couple's honeymoon is upended by th...,[],"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de...",2011-12-26,85.0,NaN,A newlywed couple's honeymoon is upended by th...
4800,231617,"Signed, Sealed, Delivered","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...","""Signed, Sealed, Delivered"" introduces a dedic...","[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de...",2013-10-13,120.0,http://www.hallmarkchannel.com/signedsealeddel...,NaN
4801,126186,Shanghai Calling,[],[],When ambitious New York attorney Sam is sent t...,[],"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de...",2012-05-03,98.0,http://shanghaicalling.com/,A New Yorker in Shanghai
4802,25975,My Date with Drew,"[{""id"": 99, ""name"": ""Documentary""}]","[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",Ever since the second grade when he first saw ...,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de...",2005-08-05,90.0,NaN,NaN